<!doctype html>
<html lang="zxx">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/userSide/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userSide/css/animate.min.css">
    <link rel="stylesheet" href="/userSide/css/boxicons.min.css">
    <link rel="stylesheet" href="/userSide/css/flaticon.css">
    <link rel="stylesheet" href="/userSide/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/userSide/css/nice-select.min.css">
    <link rel="stylesheet" href="/userSide/css/slick.min.css">
    <link rel="stylesheet" href="/userSide/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/userSide/css/meanmenu.min.css">
    <link rel="stylesheet" href="/userSide/css/rangeSlider.min.css">
    <link rel="stylesheet" href="/userSide/css/style.css">
    <link rel="stylesheet" href="/userSide/css/dark.css">
    <link rel="stylesheet" href="/userSide/css/responsive.css">
  
    <title>Threadpool</title>
    <link rel="icon" type="image/png" href="/userSide/img/icon/logo.svg">
    
</head>
<body>






<div class="page-title-area">
<div class="container">
<div class="page-title-content">
<h2>404 Not Found</h2>
<ul>
<li><a href="index.html">Home</a></li>
<li>404 Not Found</li>
</ul>
</div>
</div>
</div>


<section class="error-area ptb-100">
<div class="container">
<div class="error-content">
<img src="/userSide/img/errorPages/400a.png" alt="error">
<a href="/" class="default-btn">Go to Home</a>
</div>
</div>
</section>


















<div class="modal fade productsShippingModal" id="productsShippingModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
<span aria-hidden="true"><i class="bx bx-x"></i></span>
</button>
<div class="shipping-content">
<h3>Shipping</h3>
<ul>
<li>Complimentary ground shipping within 1 to 7 business days</li>
<li>In-store collection available within 1 to 7 business days</li>
<li>Next-day and Express delivery options also available</li>
<li>Purchases are delivered in an orange box tied with a Bolduc ribbon, with the exception of certain items</li>
<li>See the delivery FAQs for details on shipping methods, costs and delivery times</li>
</ul>
<h3>Returns and Exchanges</h3>
<ul>
<li>Easy and complimentary, within 14 days</li>
<li>See conditions and procedure in our return FAQs</li>
</ul>
</div>
</div>
</div>
</div>





<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>About The Store</h3>
                    <div class="about-the-store">
                        <p>One of the most popular on the web is shopping.</p>
                        <ul class="footer-contact-info">
                            <li><i class="bx bx-map"></i> <a href="#" target="_blank">Wonder Street, USA, New
                                York</a></li>
                            <li><i class="bx bx-phone-call"></i> <a href="tel:+01321654214">+01 321 654 214</a></li>
                            <li><i class="bx bx-envelope"></i> <a
                                href="www.threadpool.com"><span
                                    class="__cf_email__"
                                    data-cfemail="6f070a0303002f171b0001410c0002">www.threadpool.com</span></a>
                            </li>
                        </ul>
                    </div>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class="bx bxl-pinterest-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-4">
                    <h3>Quick Links</h3>
                    <ul class="quick-links">
                        <li><a href="">About Us</a></li>
                        <li><a href="products-left-sidebar.html">Shop Now!</a></li>
                        <li><a href="products-left-sidebar-2.html">Woman's</a></li>
                        <li><a href="faqs.html">FAQ's</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="customer-service.html">Customer Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Customer Support</h3>
                    <ul class="customer-support">
                        <li><a href="account">My Account</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="faqs.html">FAQ's</a></li>
                        <li><a href="track-order.html">Order Tracking</a></li>
                        <li><a href="contact.html">Help & Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Newsletter</h3>
                    <div class="footer-newsletter-box">
                        <p>To get the latest news and latest updates from us.</p>
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <label>Your E-mail Address:</label>
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL"
                                required autocomplete="off">
                                <button type="submit">Subscribe</button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>© Threadpool is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">Ayisha Shirin VP</a>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="payment-types">
                        <li><a href="#" target="_blank"><img src="/userSide/img/payment/visa.png" alt="image"></a></li>
                        <li><a href="#" target="_blank"><img src="/userSide/img/payment/mastercard.png"
                            alt="image"></a></li>
                        <li><a href="#" target="_blank"><img src="/userSide/img/payment/mastercard2.png"
                            alt="image"></a></li>
                        <li><a href="#" target="_blank"><img src="/userSide/img/payment/visa2.png" alt="image"></a>
                        </li>
                        <li><a href="#" target="_blank"><img src="/userSide/img/payment/expresscard.png"
                            alt="image"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>

<div class="go-top"><i class="bx bx-up-arrow-alt"></i></div>
<script src="/userSide/js/jquery.min.js"></script>
<script src="/userSide/js/bootstrap.bundle.min.js"></script>
<script src="/userSide/js/owl.carousel.min.js"></script>
<script src="/userSide/js/magnific-popup.min.js"></script>
<script src="/userSide/js/parallax.min.js"></script>
<script src="/userSide/js/rangeSlider.min.js"></script>
<script src="/userSide/js/nice-select.min.js"></script>
<script src="/userSide/js/meanmenu.min.js"></script>
<script src="/userSide/js/isotope.pkgd.min.js"></script>
<script src="/userSide/js/slick.min.js"></script>
<script src="/userSide/js/sticky-sidebar.min.js"></script>
<script src="/userSide/js/wow.min.js"></script>
<script src="/userSide/js/form-validator.min.js"></script>
<script src="/userSide/js/contact-form-script.js"></script>
<script src="/userSide/js/ajaxchimp.min.js"></script>
<script src="/userSide/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zoom.js/0.0.1/zoom.min.js" integrity="sha512-OhJxb3F/IiF96I1C2hoqRw8iu54GLjgaw/Bl0SRBuuK2qtPqgpKh5m15dSJxub1GwUgxVGzsBotW742Iva4Y6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zoom.js/0.0.1/zoom.js" integrity="sha512-6E6ANOHjAoSVKVdprNwFYCmjBSBak4ieFbj4AYdRdzA8lLvIdEwwJbV93FO1SFKcvghYBtGP6DrcBUEjOlW0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>


</html>